<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CDNs -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
<link href="https://fonts.googleapis.com/css?family=Barlow|Lato|Open+Sans" rel="stylesheet">

<!-- Local files -->
<script src="js/main.min.js"></script>
<link rel='stylesheet' href='node_modules/normalize.css/normalize.css'/>
<link rel='stylesheet' href='styles/main.css'/>


