/* 
    Created on : 22-Nov-2017, 11:16:49
    Author     : Sam
*/

@textcolour: #050059;
@lightcolour: #9674e8;
/*@font:'Open Sans', sans-serif;*/
@font:'Lato', sans-serif;
/*@font:'Barlow', sans-serif;*/
@border: solid @lightcolour 4px;
@1920mainwidth: 66vw;


/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block;
}

body {
        line-height: 1;
}

ol, ul {
        list-style: none;
}

blockquote, q {
        quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
}

table {
        border-collapse: collapse;
        border-spacing: 0;
}

body {
        -webkit-text-size-adjust: none;
}

/* Formatting */

body {
/*    color: @textcolour;*/
    font-family: @font;
    
}







/* Top Menu */
@menupadding: 1em 2em;

#menu-wrapper {
    color: @textcolour;
/*    width: @1920mainwidth;*/
    margin: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
    position: fixed;
    height: 3em;
    background: #fff;
    h1 {
        padding: @menupadding;
        a {
            text-decoration: none;
            &:visited {
                color: @textcolour;
            }
        }
    }
    nav {
        display: inline-flex;
        flex-wrap: nowrap;
        a {
            padding: @menupadding;
            border-left: @border;
            text-decoration: none;
            color: @textcolour;
            &:visited {
                color: @textcolour;
            }
        }
    }
}
#menu-divider {
    height: 50px;
    background: @lightcolour;
    position: sticky;
    top: 3em;
    z-index: 0;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
    
}



/* Main content */
#main-wrapper {
    width: @1920mainwidth;
    margin: auto;
    height: 2000px;
}

/* Images */

#hero-wrapper-front {
    position: relative;
    top: -35px;
    z-index: -2;
    width: 100%;
    height: 40vh;
    background: url("../images/front-1.jpg") no-repeat top center;
    background-size: 100%;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 91%, 0 100%);
}
/*.hero-img {
    width: 100%;
}*/